@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@500;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

html, body {
    height: 100%;
    overflow-x: hidden;
}

body {
    font-size: 100%;
    background-color: rgb(24, 26, 32);
}

.imagem-fundo {
    margin-top: -0px;
    height: 700px;
}

.imagem-canto {
    width: 700px;
    margin-top: -600px;
    margin-left: 1050px;
}

.conteudo-principal-escrito-titulo {
    font-family: 'Montserrat Alternates', sans-serif;
    font-weight: 700;
    font-size: 80px;
    color: #fff;
    margin-top: -600px;
    margin-left: 290px;
}

.conteudo-principal-escrito-subtitulo {
    font-family: 'Montserrat Alternates', sans-serif;
    font-weight: 700;
    font-size: 80px;
    color: #fff;
    margin-top: -20px;
    margin-left: 290px;
}

.conteudo-principal-escrito-subtitulo2 {
    font-family: 'Montserrat Alternates', sans-serif;
    font-weight: 700;
    font-size: 80px;
    color: #fff;
    margin-top: -15px;
    margin-left: 290px;
}


.conteudo {
    border-top: 0.4px solid rgb(24, 26, 32);
}

.cabecalho {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 24px;
}

.cabecalho-logo {
    height: 30px;
    margin-left: -102px;
}

.cabecalho-menu {
    display: flex;
    gap: 32px;
}

.cabecalho-menu-item {
    font-family: 'Montserrat Alternates', sans-serif;
    color: #fff;
    font-weight: 400;
    font-size: 18px;
}

.port {
    font-weight: 400;
    color: #fff;
    text-align: center;
    margin-top: 450px;
    font-family: 'Montserrat Alternates', sans-serif;
}

.port2 {
    font-weight: 400;
    color: #8969fd;
    text-align: center;
    margin-top: 450px;
    font-family: 'Montserrat Alternates', sans-serif;
}


.dir {
    font-weight: 400;
    color: #8969fd;
    font-family: 'Montserrat Alternates', sans-serif;
    height: 20px;
    text-align: center;
    margin-top: 150px;
    margin-bottom: 20px;
}

.mode {
    height: 20px;
    margin-left: 5px;
}